.logo{
    width: 5vw;
}

.nav-bar{
    display:flex;
    background: #333333;
    align-items: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.search{
    width: 60vw;
}

.club-list-button{
    margin-right: 1vw;
}