.results{
    padding-left: 0;
    padding-right: 6vw;
    padding-bottom: 20px;
}

.tag-f{
    margin-left: 5px;
}

.contact{
    margin-top: 1.9vw;
}

.show-more{
    display:flex;
    margin-left: 20.75vw;
    flex-wrap: wrap;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-left: 3.55vw;
    padding-right: 3.55vw;
}

.link-button{
    margin-right: 10px;
}