.results{
    padding-left: 3vw;
    padding-right: 2vw;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.section1{
    display:flex;
    flex-direction: column;
    height: 100vh;
}

.actual-content{
    height: 100%;
    display:flex;
    flex-direction: column;
    
}

.tag-f{
    margin-right: 5px;
    margin-top: 7px;
}

.line{
    margin-top: 8px;
    margin-bottom: 0px;
}

.line1{
    margin-top: 8px;
    margin-bottom: 10px;
}

.contact{
    margin-top: 1.9vw;
}

.show-more{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-left: 2.6vw;
    padding-right: 3.55vw;
}

.link-button{
    margin-right: 10px;
}

.column{
    display:flex;
    align-items: stretch;
    height: 100%;
}

.inner-box{
    height:100%;
}

.words{
    margin-top:auto;
}

.club-box{
    display: flex;
    flex-wrap: wrap;
}